body{
    background-image: linear-gradient(to bottom,#0b132b ,#1c2541,#3a506b);

    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    border-bottom: 2px white solid;
}

.nav-link{
    border: none;
    background-color: transparent;
    color: white;
    font-family: "Creepster", system-ui;
    font-size: 35px;
    text-shadow: 0px 0px 60px black;
    text-decoration: none;
}

.nav-link:hover {
  opacity: 0.8;
}